[Unit]
Description=ROS2 OrinOn service
After=network.target

[Service]
User=orin
Group=orin
RemainAfterExit=yes
ExecStart=/bin/bash /home/orin/ros2_ws/src/orin-test/src/0_common/hello_service_ros/orin_on.sh

[Install]
WantedBy=multi-user.target